PORT=5000
MONGO_URI=mongodb+srv://travel_plan:travel7712@travel.xv3bjgh.mongodb.net/travel_planner?retryWrites=true&w=majority&appName=travel
JWT_SECRET=7f2b8f3d9a6e4b1c0e5c2a9d8f7e1a3b5c6d7e8f9a0b1c2d3e4f5a6b7c8d9e0f4a6b8c2d1e3f5a7c9d0b2e4f6a8c0d2e3f4a5b6c7d8e9f0a1b2c3d4e5f6a7b8
GOOGLE_PLACES_API_KEY=https://maps.googleapis.com/maps/api/place/nearbysearch/json



